In [1]:
import findspark
from pyspark import SparkContext
import numpy as np
import pandas as pd

findspark.init()
sc = SparkContext("local[*]", "Name of the Program")

23/09/29 20:04:10 WARN Utils: Your hostname, vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/09/29 20:04:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/09/29 20:04:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/29 20:04:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/09/29 20:04:11 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
# Read file
rdd1 = sc.textFile("data_ok.csv")

In [3]:
# Split each row and turn into numpy array of floats
rdd2 = rdd1.map(lambda x: np.array(x.split(), dtype=float))

# Read num of rows
n = rdd2.count()

# Add up all rows and get single numpy array
aux = rdd2.reduce(lambda x, y: x + y)

# Calculate the mean
my_mean = aux / n
mean = rdd2.mean() # calculate reference values with high level function

# Plot as dataframe
pd.DataFrame({'myResult': my_mean, 'reference': mean}).style.set_caption("Mean for all Columns:")

In [4]:
# Substract mean and square each value
rdd3 = rdd2.map(lambda x: (x - mean)**2)

# Add up all rows
aux2 = rdd3.reduce(lambda x, y: x + y)

# Calculate variance
variance = aux2 / n

# Calculate standard deviation
my_standard_deviation = np.sqrt(variance)
standard_deviation = rdd2.stdev() # calculate reference values with high level function

# Plot as dataframe
pd.DataFrame({'myResult': my_standard_deviation, 'oneStep': standard_deviation}).style.set_caption("Std. Deviation for all Columns:")